.category_logo_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category_logo_item__logo_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  list-style: none;
}

.category_item h3 {
  font-size: 20px;
}

.logo_list_item {
  min-height: 200px;
}


.logo_list_item__link {  
  display: flex;
  flex-direction: column;
  color: inherit;
  height: 100%;  
  padding: 5px;
  cursor: pointer;  
  gap: 10px;  
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.logo_list_item__image_container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_list_item__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon_list_item__znak {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo_list_item__znak {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.logo_list_item__link:hover {
  background-color: #eeeeee;
}

@media (width <= 600px) {
  .category_item__icon_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 400px) {
  .category_item__icon_list {
    grid-template-columns: repeat(2, 1fr);
  }
}