.main {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  gap: 50px;
  padding: 60px 60px;
}

.icon_page__text_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 400px) {
  .main {
    padding: 10px 10px;
  }
}