.category_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category_item__icon_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  list-style: none;
}

.category_item h3 {
  font-size: 20px;
}

@media (width <= 600px) {
  .category_item__icon_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 400px) {
  .category_item__icon_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

