.main {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  gap: 50px;
  padding: 60px 60px;
}

.search_input {
  padding: 10px 10px;
  width: 100%;
  border-radius: 5px;
}

.search_title {
  padding-top: 15px;
}

.results_info {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 30px;
  list-style: none;
}

@media (max-width: 400px) {
  .main {
    padding: 30px 15px;
  }
}