.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #2c5edd;
  font-family: var(--font-geist-sans);
  border-bottom: 1px solid #e7e7e7;
}

.footer__logo {
  width: 200px;
  height: 100px;
}

.footer__text_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: end;
  max-width: 500px;
  color: #ffffff
}

.footer__title {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

.footer__text {
  text-align: end;
}