
.scheme_section {
  display: flex;
  flex-direction: column;
  border: 1px solid #2c5edd;
  border-radius: 15px;
  gap: 20px;
  padding: 15px;
}

.download_section h4 {
  padding-top: 20px;
  font-weight: normal;
}

.download_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.download_section__button_container {
  display: flex;
  gap: 15px;
}